.grid-container {
    margin-top: 5em;
    padding-bottom: 15em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    row-gap: 4em;
}

.card-container {
    width: 30em;
}

mat-card-header {
    justify-content: center;
}

.card-actions {
    display: flex;
    justify-content: center;
}

.button {
    margin-bottom: 1em
}

.buttonsPages {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.prevButton {
    margin-right: 5em;
}