<div class="grid-container">
    <mat-card id={{character.id}} class="card-container" *ngFor="let character of characters">
        <mat-card-header>
            <mat-card-title>{{ character.name }}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{ character.image }}">
        <mat-card-actions class="card-actions">
            <button mat-fab color="primary" class="button" (click)="showDetails(character.id)" *ngIf="!this.isVisible">
                <mat-icon>visibility</mat-icon>
            </button>
            <button mat-fab color="primary" class="button" (click)="showDetails(character.id)" *ngIf="this.isVisible">
                <mat-icon>visibility_off</mat-icon>
            </button>
        </mat-card-actions>
        <mat-card-footer>
            <app-details [character]=character
                         [isVisible]=this.isVisible
                         [card_id]=this.card_id>
                </app-details>            
            </mat-card-footer>
    </mat-card>
    <div class="buttonsPages">
        <button mat-fab color="warn" class="prevButton" (click)="prevPage()">
            <mat-icon>navigate_before</mat-icon>
        </button>
        
        <button mat-fab color="accent" (click)="nextPage()">
            <mat-icon>navigate_next</mat-icon>
        </button>
    </div>
</div>
